@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --color-bg-primary : #c2c2c2;
    --color-bg-secondary : #55bc04;
    --color-bg-tertiary : #ffffff;

    --color-font-primary : #55bc04;
    --color-font-secondary : #FFFFFF;  
    --color-font-tertiary : #6f6f6f;
    --color-font-quarter : #c2c2c2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.card{
  background-color: var(--color-bg-tertiary);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.container-listing-body{
    width: 100%; 
    padding: 30px;
}

body{
    background: var(--color-bg-primary);
}
